html, body {
    /* background-color: rgb(243, 240, 240); */

    background: linear-gradient(180deg,lightgray,white);

    height: 100%;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    overflow-x: hidden;
    /* overflow-y: hidden; */
}

#header {
    /* background-color: rgb(11, 32, 153); */
    color: white;

    background: linear-gradient(45deg, rgb(23, 23, 158), red);

    font-size: 16pt;
    
    margin: 0.33em;
    margin-bottom: 0.12em;

    border-radius: 3px;
}

.header-item {
    text-align: center;
    vertical-align: middle;
    padding: 0.5em;
    font-weight: normal;
    font-size: 15pt;
    transition: 0.3s;
    /* color: rgb(0, 0, 0); */
}

.header-item-selected {
    /* color: darkgray; */
    color: white;
    text-decoration: underline;
}

.header-item-regular {
    color: white;
    text-decoration: unset;
}

.header-separator {
    background: gray;
    width: 1px;
    margin: 0.5em;
}

#brand {
    /* font-size: 18pt; */
    /* color: black; */
    font-style: italic;
}

#contact {
    background-color: rgb(96, 182, 38);
    /* background-color: rgb(226, 224, 224); */
    color: black;
    padding: 0.75em;

    margin: 0.33em;
    margin-top: 0.12em;

    border-radius: 3px;
}

#programming-button {
    font-size: 17pt;
    padding: 0.5em;
}

#algorithms-button {
    font-size: 17pt;
    padding: 0.5em;
}

#mathematics-button {
    font-size: 17pt;
    padding: 0.5em;
}

.page-style {
    font-size: 12pt;
    padding: 1em;
}

.item-card {
    padding: 0.75em;
    text-align: center;
    vertical-align: middle;
    color: black;
    background-color: white;

    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.20);
    transition: 0.3s;
}

.item-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.20);
    /* background-color: rgb(96, 182, 38); */
    /* color: white; */
}

.item-card-link {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.20);
    transition: 0.3s;

    background-color: white;

    padding: 0.75em;
    text-align: center;
    vertical-align: middle;
    color: black;
}

.item-card-link:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.20);
}

p {
    text-align: justify;
    font-size: 16pt;
    text-indent: 1em;
}

#programming-page-style {

}

#algorithms-page-style {
    /* background: rgb(211, 214, 4); */
}

#mathematics-page-style {
    /* background: rgb(228, 224, 27); */
}